nltk==3.6.2
pandas==1.2.5
quickdraw==0.2.0
gevent==21.1.2
Werkzeug==2.0.1
Flask==2.0.1
spacy_universal_sentence_encoder==0.4.3
opencv_python==4.5.2.54
tika==1.24
pyngrok==5.0.5
requests==2.25.1
Pillow==8.3.2
scikit_learn==0.24.2
